.chan-button{
    background-color: #00251391;
    border-width: 1px;
    border-color: #00ff80;
    border-style: solid;
    border-radius: 5px;
    color: #eefff6;
    transition: all 0.3s ease;
}

.chan-button:hover{
    background-color: #00623171;
    border-width: 1px;
    border-color: #00ff80;
    border-style: solid;
    border-radius: 0px;
    color: #eefff6;
    letter-spacing: 2px;
}

.chan-button:active{
    background-color: #00623171 !important;
    border-width: 1px;
    border-color: #00ff80 !important;
    border-style: solid;
    border-radius: 0px;
    color: #eefff6;
    letter-spacing: 2px;
}

.chan-button-close{
    background-color: #222a2791;
    border-width: 1px;
    border-color: #bdffde;
    border-style: solid;
    border-radius: 5px;
    color: #eefff6;
    transition: all 0.3s ease;
}

.chan-button-close:hover{
    background-color: #37433f91;
    border-width: 1px;
    border-color: #bdffde;
    border-style: solid;
    border-radius: 0px;
    color: #eefff6;
    transition: all 0.3s ease;
    letter-spacing: 2px;
}

.chan-thread-info{
    color: rgb(255, 255, 255);
    background-color: #00ffd910;
    border-style: solid;
    border-width: 1px;
    border-color: #006c5c;
    border-radius: 3px;
    height: fit-content;
    padding: 10px 15px;
}

.chan-thread-modal{
    border-style: solid;
    border-width: 1px;
    border-color: #5e5e5e;
    border-radius: 3px;
    background-color: rgb(24 24 27);
    color: white;
}

.chan-thread-title{
    color: rgb(255, 255, 255);
    background-color: rgba(3, 14, 26, 0.3);
    padding: 0px 5px;
    font-size: 1.4rem;
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

.chan-thread-title:hover{
    color: rgb(0, 19, 190);
    background-color: rgba(180, 255, 234, 0.87);
    padding: 0px 5px;
    font-size: 1.4rem;
}

.chan-thread-page-title{
    color: rgb(255, 255, 255);
    background-color: rgba(3, 14, 26, 0.3);
    padding: 0px 5px;
    font-size: 1.4rem;
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

.chan-text-content{
    font-size: 0.8rem;
    min-height: 3.125rem;
    margin: 0;
    padding: 0 0 0 2px;
}

.text-ellipsis {
    white-space: nowrap;        /* Prevents text from wrapping to a new line */
    overflow: hidden;
    text-overflow: ellipsis;    /* Adds an ellipsis (...) at the end of the truncated text */
  }

.voted{
    background-color: rgba(0, 255, 149, 0.35) !important;
    box-shadow:inset 0px 0px 0px 1px rgba(0, 255, 149, 0.9);
    border-radius: 2px !important;
}
  