:root {
    --bs-bg-gradient-start: rgb(28, 44, 37);
    --bs-bg-gradient-end: rgb(21, 26, 24);
    --chan-color: #00ff80;
    --bs-success: rgba(25,135,84,1);
    --chan-label: rgba(163, 255, 201, 0.9);
}

.chan-title{
    color: var(--chan-color);
    font-size: 50px;
}

.chan-bg {
    background: rgb(41,62,53);
    background: linear-gradient(180deg, rgb(28, 44, 37) 0%, rgb(21, 26, 24) 9%);
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the background fills the element */
    background-attachment: fixed;
}

.chan-index-section{
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
}

.chan-threads-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Space between items */
    justify-content: flex-start; /* Align items to the left */
}

.chan-thread {
    flex: 1 1 calc(25% - 20px); /* 4 items per row, accounting for the gap */
    max-width: calc(25% - 20px); /* Prevent items from growing too large */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    margin: 0 auto;
}

.text-ellipsis {
    white-space: nowrap;        /* Prevents text from wrapping to a new line */
    overflow: hidden;
    text-overflow: ellipsis;    /* Adds an ellipsis (...) at the end of the truncated text */
}

.ellipsis-multiline {
    font-size: 0.75rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;  /* Change the number for more/fewer lines */
    -webkit-box-orient: vertical;
    text-align: center;
    margin: 4px 0 0 0;
}

.chan-admin-button{
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.chan-admin-button:hover{
    background-color: rgba(255, 255, 255, 0.175);
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.chan-admin-modal{
    border-style: solid;
    border-width: 1px;
    border-color: #5e5e5e;
    border-radius: 3px;
    background-color: rgb(24 24 27);
    color: white;
}

.custom-table {
    color: #ddd; /* Light gray text */
    border-color: #555; /* Border color */
}

.custom-table th{
    padding: 0.75rem 0;
}

.custom-table td{
    padding: 0.1rem 0;
}

.custom-table th, .custom-table td {
    border-bottom:  1px solid rgba(255, 255, 255, 0);
}

.chan-section-label{
    background: var(--chan-label);
    color: #1a1a1a !important;
    padding: 0.1rem 0 0 0.3rem;
    margin-bottom: 2px !important;
    font-weight: 800;
}


.chan-section-label hr{
    border-color: #000000 !important;
}