.chan-title{
    color: #00ff7f;
    font-size: 50px;
}

.chan-bg{
    background-color: rgb(24 24 27);
}

.chan-nav{
    height: 40px;
    background-color: rgb(39 39 42);
}

.chan-index-section{
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
}

.chan-threads-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
    gap: 20px; /* Space between items */
}

.ellipsis-multiline {
    font-size: 0.75rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;  /* Change the number for more/fewer lines */
    -webkit-box-orient: vertical;
    text-align: center;
    margin: 4px 0 0 0;
}

.chan-admin-button{
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.chan-admin-button:hover{
    background-color: rgba(255, 255, 255, 0.175);
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.chan-admin-modal{
    border-style: solid;
    border-width: 1px;
    border-color: #5e5e5e;
    border-radius: 3px;
    background-color: rgb(24 24 27);
    color: white;
}