<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board-thread.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>πchan - /{{ board.id }}</title>
</head>
<body class="chan-bg vh-100 overflow-x-hidden d-flex flex-column align-items-center">
    
    <nav class="chan-nav d-flex w-100 border-bottom" style="height: fit-content; padding: 0.3rem 0.25rem;">
        <ul class="d-flex gap-2 justify-content-between w-100 list-unstyled m-0" style="height: fit-content; width: max-content; margin-bottom: 1px !important;">
            <div class="d-flex gap-1">
                {% for board_group in board_groups %}
                    {% if board_group.boards.count() > 0 %}
                        <div class="d-flex align-items-center align-content-center justify-content-center">
                            <p class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-right: 0.2rem !important; line-height: normal;">[</p>
                            <ul class="d-flex gap-2 p-0 m-0" style="height: fit-content;">
                                {% for board in board_group.boards %}
                                <a href="{{ url_for('Admin.Board' if api_key else 'Boards.Board', id=board.id, **({'api_key': api_key} if api_key else {})) }}" title="{{ board.name }}" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; line-height: normal;">/{{ board.id }}</a>
                                {% endfor %}
                            </ul>
                            <p class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-left: 0.2rem !important; line-height: normal;">]</p>    
                        </div>
                    {% endif %}
                {% endfor %}    
            </div>
            
            <div class="d-flex align-items-center align-content-center justify-content-center">
                <p class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-right: 0.2rem !important; line-height: normal;">[</p>
                <a href="{{ url_for('Admin.home' if api_key else 'Index.home', **({'api_key': api_key} if api_key else {})) }}" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; line-height: normal;">Home</a>
                <p class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-left: 0.2rem !important; line-height: normal;">]</p>
            </div>
        </ul>
    </nav> 
    <main class="d-flex w-100 flex-column align-items-center" style="height: fit-content;">
        <div class="chan-title d-flex flex-column border-bottom border-black fw-bold align-items-center align-content-center w-100 p-3 bg-dark gap-2" style="background: linear-gradient(to right, var(--bs-label-gradient-start), var(--bs-label-gradient-end));">
            <div class="d-flex align-items-center align-content-center justify-content-start gap-2">
                <p class="m-0" style="color: var(--bs-primary); height: fit-content; font-size: 2.5rem; line-height: 1;">/{{ board.id }}</p>
                <p class="m-0" style="height: fit-content; font-size: 2.5rem; line-height: 1;">-</p>
                <p class="m-0" style="height: fit-content; font-size: 2.5rem; line-height: 1;">{{ board.name }}</p>    
            </div>
            <p class="text-white-50 text-ellipsis m-0" style="font-size: 0.7rem;">{{ board.description }}</p>
        </div>

        <!-- Button trigger modal -->
        <button class="chan-button fw-bold fst-italic w-100 my-3" style="max-width: 200px;" type="button" data-bs-toggle="modal" data-bs-target="#newThread">+ New Thread</button>
        <!-- New thread modal -->
        <div class="modal fade" id="newThread" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" data-bs-theme="dark">
                <div class="modal-content chan-thread-modal">
                    <div class="modal-header" style="border-color: #5e5e5e;">
                    <h1 class="modal-title bg-body-secondary border border-1 border-dark fs-5 px-1 font-monospace" id="exampleModalLabel">New Thread data:</h1>
                    <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column gap-2">
                            
                            <div>
                                <label class="d-flex gap-1 align-items-center fst-italic text-white m-0" style="max-width: 800px; font-size: 0.8rem; font-family: 'Courier New', Courier, monospace; white-space: nowrap;">Thread title:<hr class="border-white w-100 my-0" style="height: fit-content; margin-bottom: 1px !important;"></label>
                                <input class="w-100" type="text" placeholder="Enter title" id="title" required>
                            </div>
                            <div>
                                <label class="d-flex gap-1 align-items-center fst-italic text-white m-0" style="max-width: 800px; font-size: 0.8rem; font-family: 'Courier New', Courier, monospace; white-space: nowrap;">Thread content:<hr class="border-white w-100 my-0" style="height: fit-content; margin-bottom: 1px !important;"></label>
                                <textarea class="w-100" placeholder="Enter content" id="content" required></textarea>
                            </div>
                            <input type="file" name="image" accept=".jpg,.png,.gif" id="image-t" required>
                            <input type="hidden" name="new_thread_id" value="" id="new_thread_id" required>
                            <input type="hidden" name="new_thread_type" value="{{ 1 if api_key else 0 }}" id="new_thread_type" required>
                            <input type="submit" value="" id="submit_image" class="visually-hidden" required>

                            <input type="hidden" id="board_id" value="{{ board.id }}" required>

                            <div class="d-flex justify-content-between border-1 border-top" style="border-color: #5e5e5e; padding-top: 1rem; margin-top: 0.5rem;">
                                <button type="button" class="btn btn-secondary chan-button-close w-100" style="max-width: 80px;" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary chan-button w-100" style="max-width: 150px;" onclick="postThread()">Post thread</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- New reply modal -->
        <div class="modal fade" id="newReply" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" data-bs-theme="dark">
                <div class="modal-content chan-thread-modal">
                    <div class="modal-header" style="border-color: #5e5e5e;">
                    <h1 class="modal-title bg-body-secondary border border-1 border-dark fs-5 px-1 font-monospace" id="exampleModalLabel">New Reply data:</h1>
                    <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column gap-2" action="" method="post">
                            
                            <div>
                                <label class="d-flex gap-1 align-items-center fst-italic text-white m-0" style="max-width: 800px; font-size: 0.8rem; font-family: 'Courier New', Courier, monospace; white-space: nowrap;">Reply content:<hr class="border-white w-100 my-0" style="height: fit-content; margin-bottom: 1px !important;"></label>
                                <textarea class="w-100" placeholder="Enter content" id="reply_content" required></textarea> 
                            </div>
                               
                            <input type="hidden" name="new_reply_type" value="{{ 1 if api_key else 0 }}" id="new_reply_type" required>
                            <input type="file" name="" accept=".jpg,.png,.gif" id="image-r">

                            <input type="hidden" id="thread_or_reply_id" value="">
                        </form>
                    </div>
                    <div class="d-flex justify-content-between modal-footer" style="border-color: #5e5e5e;">
                    <button type="button" class="btn btn-secondary chan-button-close w-100" style="max-width: 80px;" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary chan-button w-100" style="max-width: 150px;" onclick="postReply()">Post reply</button>
                    </div>
                </div>
            </div>
        </div>
  
        
        <hr class="border-white w-100 my-0">
            <div class="d-flex w-100 px-2 justify-content-between">
                <form class="sort-by-form" action="#" method="GET">
                    <label class="text-white">Style:</label>
                    <select id="style_id">
                        <option value="board-thread" >πchan</option>
                        <option value="tomorrow" >Tomorrow</option>
                        <option value="yotsuba_b" >Yotsuba B</option>
                    </select>
                </form>
                <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/board-thread.css') }}">
                <form class="sort-by-form" action="#" method="GET">
                    <label class="text-white text-ellipsis">Sort by:</label>
                    <select id="sort_id">
                        <option value="" {{ 'selected' if not sort }}>Reply count</option>
                        <option value="vote_count" {{ 'selected' if sort == 'vote_count' }}>Vote count</option>
                        <option value="id" {{ 'selected' if sort == 'id' }}>ID</option>
                    </select>
                    <select id="order_id">
                        <option value="">Desc</option>
                        <option value="asc" {{ 'selected' if order == 'asc' }}>Asc</option>
                    </select>
                    <input type="button" value="Apply" onclick="sortAndOrder()">
                </form>
            </div>
        <hr class="border-white w-100 my-0" style="margin-bottom: 1rem !important;">    

            {% macro render_replies(replies, thread) %}
            
                {% for reply in replies[-5:] %}

                    <div id="r{{ reply.id }}" class="chan-{{ 'admin-' if reply.type == 1 }}thread-info d-flex flex-column" style="min-width: 350px; width: fit-content; margin-left: {{ reply.level * 14 }}px;">
                        <div class="d-flex justify-content-start align-content-start gap-1">
                            <div class="d-flex gap-1 align-items-center justify-content-start m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">
                                <span class="m-0 fw-bold" style="font-size: 0.7rem; {{ 'color: rgba(255, 255, 255, 0.700);' if reply.type == 0 else 'color: rgba(0, 255, 136);' }}">
                                    {{ 'Admin:' if reply.type == 1 else 'Anon:' }}
                                </span>
                                <span class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">
                                    {{ reply.user_token }}
                                </span>
                                {% if reply.user_token == thread.user_token %}
                                    <span class="text-info m-0 text-ellipsis" style="font-size: 0.7rem;">(OP)</span>
                                {% endif %}
                                {% if reply.type == 1 %}
                                    <img style="width: 15px; height: 15px;" src="{{ url_for('static', filename='pi.svg') }}" alt="">
                                {% endif %}
                            </div>
                            
                            <hr class="m-0" style="width: 1px; border-left: solid 1px;">
                            <span class="m-0 text-ellipsis" style="font-size: 11px; color: rgba(255, 255, 255, 0.700);">Reply No.{{ reply.id }}</span>
                            <hr class="m-0" style="width: 1px; border-left: solid 1px;">
                            <a
                                onclick="highlightPostWithRedirect('{{ 'r' ~ (reply.reply_id | string) if reply.reply_id else 't' ~ (reply.thread_id | string) }}', 't{{ reply.related_thread_id }}')"
                                href="#{{ 'r' ~ (reply.reply_id | string) if reply.reply_id else 't' ~ (reply.thread_id | string) }}"
                                class="m-0 text-ellipsis" style="font-size: 11px; color: var(--post-highlight);">
                                Replying to: {{ 'r-' ~ (reply.reply_id | string) if reply.reply_id else 't-' ~ (reply.thread_id | string) }}
                            </a>


                        </div>

                        <p class="chan-text-content" style="min-height: {{'1.5rem' if reply.image else '2.5rem'}};">{{ reply.content|safe }}</p>

                        {% if reply.image %}
                            <div class="d-flex flex-column justify-content-center" style="width: 30%;" id="img-div-r{{ reply.id }}">
                                <img class="rounded-1" style="width: 100%; height: auto; max-height: 400px;" src="{{ url_for('Images.Image', id=reply.image.id) }}" onclick="maxOrMin({{ reply.id }}, 'r')">
                                <div class="d-flex gap-1">
                                    <span style="font-size: 0.7rem; color: #696969;" class="m-0">File: </span>
                                    <a style="font-size: 0.7rem;" class="m-0 text-ellipsis" href="{{ url_for('Images.Image', id=reply.image.id) }}">{{ reply.image.name }}</a>
                                </div>
                                <span style="font-size: 0.7rem; color: #696969;" class="m-0 p-0">({{ (reply.image.size|int / 1024)|int }}KB {{ reply.image.measures }})</span>                    
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <div class="d-flex gap-1">
                                <span class="m-0" style="font-size: 11px; color: rgba(255, 255, 255, 0.700);">
                                    {{ '%02d' | format(reply.date.day) }}/{{ '%02d' | format(reply.date.month) }}/{{ reply.date.year }}
                                </span>
                                <hr class="m-0 h-100" style="width: 1px; border-left: solid 1px;">
                                <span class="m-0" style="font-size: 11px; color: rgba(255, 255, 255, 0.700);">{{ reply.time }}</span>
                                <span class="m-0" style="font-size: 11px; color: rgba(255, 255, 255, 0.700);">UTC</span>
                            </div>

                            <div class="d-flex justify-content-center gap-1">
                                <button onclick="submitVote(1, {{ reply.id }}, 'r')" title="{{ reply.votes|selectattr('up_or_down', 'equalto', 1)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                    <i class="fa-solid fa-caret-up px-1" id="1r{{ reply.id }}" style="font-size: 0.9rem; padding-top: 0.15rem; background-color: rgba(0, 153, 255, 0.2); border-radius: 3px; height: fit-content;"></i>
                                </button>
                                <button onclick="submitVote(0, {{ reply.id }}, 'r')" title="{{ reply.votes|selectattr('up_or_down', 'equalto', 0)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                    <i class="fa-solid fa-caret-down px-1" id="0r{{ reply.id }}" style="font-size: 0.9rem; padding-bottom: 0.15rem; background-color: rgba(255, 78, 78, 0.2); border-radius: 3px; height: fit-content;"></i>
                                </button>
                                <button class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(0, 255, 89, 0.1); border-radius: 3px;" onclick="replyModal('r{{ reply.id }}')" type="button" data-bs-toggle="modal" data-bs-target="#newReply">
                                    <i style="font-size: 0.7rem;" class="fa-solid fa-reply"></i>
                                    <span style="font-size: 0.7rem;" class="m-0">Reply</span>   
                                </button>
                                {% if api_key %}
                                    <button onclick="deletePost({{ reply.id }}, 'r')" class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(243, 35, 35, 0.2); border-radius: 3px;" type="button">
                                        <i style="font-size: 0.7rem;" class="fa-solid fa-eraser"></i>
                                        <span style="font-size: 0.7rem;" class="m-0">Delete</span>   
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                                            
                    {% if loop.index == 5 and thread.reply_list|length > 5 %}
                        <a href="{{ url_for('Admin.Thread' if api_key else 'Threads.Thread', id=thread.id, **({'api_key': api_key} if api_key else {})) }}" style="margin-left: {{ 14 * reply.level }}px; width: fit-content; font-size: 0.9rem;">
                            See {{'all' if thread.reply_list[:-5]|length > 1 else ''}} {{ thread.reply_list[:-5]|length }} {{'replies' if thread.reply_list[:-5]|length > 1 else 'reply'}}
                            {% if thread.reply_list[:-5]|selectattr('image')|list|length > 0 %}
                                and {{ thread.reply_list[:-5]|selectattr('image')|list|length }} image{{'s' if thread.reply_list[:-5]|selectattr('image')|list|length > 1 else ''}}
                            {% endif %}
                            omitted.
                        </a>  
                    {% endif %}

                {% endfor %}
                    
            {% endmacro %}

        <!-- Rendering Threads and Replies -->
        <section class="d-flex flex-column align-items-start w-100 px-3 gap-3" style="padding-bottom: 1rem; height: fit-content;" id="threads">

            {% if page == 1 %}
                {% for thread in admin_threads %}
                    <!-- Thread -->
                    <div class="d-flex overflow-x-scroll overflow-y-hidden gap-1 w-100" style="max-width: 100vw;" id="img-div-t{{ thread.id }}">
                        {% if thread.image %}
                            <div class="d-flex flex-column justify-content-start" style="max-width: 235px; max-height: fit-content; min-width: 200px;">
                                <img class="rounded-1 shadow" src="{{ url_for('Images.Image', id=thread.image.id) }}" onclick="maxOrMin({{ thread.id }}, 't')">
                                <div class="d-flex gap-1">
                                    <span style="font-size: 0.7rem; color: #696969;" class="m-0">File: </span>
                                    <a style="font-size: 0.7rem;" class="m-0 text-ellipsis" href="{{ url_for('Images.Image', id=thread.image.id) }}">{{ thread.image.name }}</a>
                                </div>
                                <span style="font-size: 0.7rem; color: #696969;" class="m-0 p-0">({{ (thread.image.size|int / 1024)|int }}KB {{ thread.image.measures }})</span>                    
                            </div>
                        {% endif %}
                        <div class="d-flex flex-column gap-2 w-100">
                            
                            <div id="t{{ thread.id }}" class="chan-admin-thread-info border-white" style="min-width: 350px; width: fit-content;">
                                <div class="d-flex gap-2">
                                    <a class="chan-thread-title ants-link text-ellipsis m-0 text-decoration-none fst-italic" href="{{ url_for('Admin.Thread' if api_key else 'Threads.Thread', id=thread.id, **({'api_key': api_key} if api_key else {})) }}" style="font-weight: 500;">{{ thread.title }}</a>
                                    <div class="d-flex flex-column justify-content-around">
                                        <div class="d-flex align-items-center gap-1">
                                            <span class="m-0 fw-bold" style="font-size: 0.7rem; color: rgba(0, 255, 136);">Admin:</span>
                                            <span class="m-0 text-ellipsis" style="font-size: 0.7rem !important; color: rgba(255, 255, 255, 0.700);">{{ thread.user_token }}</span>
                                            <img style="width: 15px; height: 15px;" src="{{ url_for('static', filename='pi.svg') }}" alt="">
                                        </div>
                                        <span class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">Thread No.{{ thread.id }}</span>      
                                    </div>
                                </div>

                                <p class="chan-text-content">{{ thread.content|safe }}</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex gap-1">
                                        <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">
                                            {{ '%02d' | format(thread.date.day) }}/{{ '%02d' | format(thread.date.month) }}/{{ thread.date.year }}
                                        </span>
                                        <hr class="m-0 h-100" style="width: 1px; border-left: solid 1px;">
                                        <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">{{ thread.time }}</span>
                                        <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">UTC</span>    
                                    </div>
                                    <div class="d-flex justify-content-center gap-1">
                                        <button onclick="submitVote(1, {{ thread.id }}, 't')"                                    title="{{ thread.votes|selectattr('up_or_down', 'equalto', 1)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                            <i class="fa-solid fa-caret-up px-1" id="1t{{ thread.id }}" style="font-size: 0.9rem; padding-top: 0.15rem; background-color: rgba(0, 153, 255, 0.2); border-radius: 3px; height: fit-content;"></i>
                                        </button>
                                        <button onclick="submitVote(0, {{ thread.id }}, 't')" title="{{ thread.votes|selectattr('up_or_down', 'equalto', 0)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                            <i class="fa-solid fa-caret-down px-1" id="0t{{ thread.id }}" style="font-size: 0.9rem; padding-bottom: 0.15rem; background-color: rgba(255, 78, 78, 0.2); border-radius: 3px; height: fit-content;"></i>
                                        </button>
                                        <button class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(0, 255, 89, 0.1); border-radius: 3px;" onclick="replyModal('t{{ thread.id }}')" type="button" data-bs-toggle="modal" data-bs-target="#newReply">
                                            <i style="font-size: 0.7rem;" class="fa-solid fa-reply"></i>
                                            <span style="font-size: 0.7rem;" class="m-0">Reply</span>   
                                        </button>
                                        {% if api_key %}
                                            <button onclick="deletePost({{ thread.id }}, 't')" class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(243, 35, 35, 0.2); border-radius: 3px;" type="button">
                                                <i style="font-size: 0.7rem;" class="fa-solid fa-eraser"></i>
                                                <span style="font-size: 0.7rem;" class="m-0">Delete</span>   
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            {% if thread.reply_list %}
                                <hr class="border-white my-0 mx-3" style="border-style:  dotted; border-width: 1px 0 0 0;">
                                <div class="d-flex flex-column gap-1" style="margin-left: 40px;">
                                    {{ render_replies(thread.reply_list, thread) }}     
                                </div>      
                            {% endif %}      
                        </div>    
                    </div>
                    <hr class="border-white my-0 mx-auto" style="width: 100%;"> 
                {% endfor %}
            {% endif %}

            {% if not sort %}

                {% set updated_threads = [] %}

                {% for thread in normal_threads %}
                    {% set reply_count = thread.reply_list|length %}
                    {% set _ = updated_threads.append({'id': thread.id, 'reply_count': reply_count | int}) %}
                {% endfor %}

                {% set sorted_threads = updated_threads | sort(attribute='reply_count', reverse=(true if not order else false)) %}
                {% for sorted_thread in sorted_threads %}
                    {% for thread in normal_threads %}

                        {% if thread.id == sorted_thread.id %}
                            <!-- Thread -->
                            <div class="d-flex overflow-x-auto overflow-y-hidden gap-1 w-100" style="max-width: 100vw;" id="img-div-t{{ thread.id }}">
                                {% if thread.image %}
                                    <div class="d-flex flex-column justify-content-start" style="max-width: 235px; max-height: fit-content; min-width: 200px;">
                                        <img class="rounded-1 shadow" src="{{ url_for('Images.Image', id=thread.image.id) }}" onclick="maxOrMin({{ thread.id }}, 't')">
                                        <div class="d-flex gap-1">
                                            <p style="font-size: 0.7rem; color: #696969;" class="m-0">File: </p>
                                            <a style="font-size: 0.7rem;" class="m-0 text-ellipsis" href="{{ url_for('Images.Image', id=thread.image.id) }}">{{ thread.image.name }}</a>
                                        </div>
                                        <p style="font-size: 0.7rem; color: #696969;" class="m-0 p-0">({{ (thread.image.size|int / 1024)|int }}KB {{ thread.image.measures }})</p>                    
                                    </div>
                                {% endif %}
                                <div class="d-flex flex-column gap-2 w-100">
                                    
                                    <div id="t{{ thread.id }}" class="chan-thread-info border-info-subtle" style="min-width: 350px; width: fit-content;">
                                        <div class="d-flex gap-2">
                                            <a class="chan-thread-title ants-link text-ellipsis m-0 text-decoration-none fst-italic" href="{{ url_for('Admin.Thread' if api_key else 'Threads.Thread', id=thread.id, **({'api_key': api_key} if api_key else {})) }}" style="font-weight: 500;">{{ thread.title }}</a>
                                            <div class="d-flex flex-column justify-content-around">
                                                <p class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);"><span class="fw-bold">Anon:</span> {{ thread.user_token }}</p>
                                                <p class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">Thread No.{{ thread.id }}</p>      
                                            </div>
                                        </div>

                                        <p class="chan-text-content">{{ thread.content|safe }}</p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex gap-1">
                                                <p class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">
                                                    {{ '%02d' | format(thread.date.day) }}/{{ '%02d' | format(thread.date.month) }}/{{ thread.date.year }}
                                                </p>
                                                <hr class="m-0 h-100" style="width: 1px; border-left: solid 1px;">
                                                <p class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">{{ thread.time }}</p>
                                                <p class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">UTC</p>    
                                            </div>
                                            <div class="d-flex justify-content-center gap-1">
                                                <button onclick="submitVote(1, {{ thread.id }}, 't')"                                    title="{{ thread.votes|selectattr('up_or_down', 'equalto', 1)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                                    <i class="fa-solid fa-caret-up px-1" id="1t{{ thread.id }}" style="font-size: 0.9rem; padding-top: 0.15rem; background-color: rgba(0, 153, 255, 0.2); border-radius: 3px; height: fit-content;"></i>
                                                </button>
                                                <button onclick="submitVote(0, {{ thread.id }}, 't')" title="{{ thread.votes|selectattr('up_or_down', 'equalto', 0)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                                    <i class="fa-solid fa-caret-down px-1" id="0t{{ thread.id }}" style="font-size: 0.9rem; padding-bottom: 0.15rem; background-color: rgba(255, 78, 78, 0.2); border-radius: 3px; height: fit-content;"></i>
                                                </button>
                                                <button class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(0, 255, 89, 0.1); border-radius: 3px;" onclick="replyModal('t{{ thread.id }}')" type="button" data-bs-toggle="modal" data-bs-target="#newReply">
                                                    <i style="font-size: 0.7rem;" class="fa-solid fa-reply"></i>
                                                    <p style="font-size: 0.7rem;" class="m-0">Reply</p>   
                                                </button>
                                                {% if api_key %}
                                                    <button onclick="deletePost({{ thread.id }}, 't')" class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(243, 35, 35, 0.2); border-radius: 3px;" type="button">
                                                        <i style="font-size: 0.7rem;" class="fa-solid fa-eraser"></i>
                                                        <p style="font-size: 0.7rem;" class="m-0">Delete</p>   
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if thread.reply_list %}
                                        <hr class="border-white my-0 mx-3" style="border-style:  dotted; border-width: 1px 0 0 0;">
                                        <div class="d-flex flex-column gap-1" style="margin-left: 40px;">
                                            {{ render_replies(thread.reply_list, thread) }}     
                                        </div>      
                                    {% endif %}
                                </div>    
                            </div>
                            <hr class="border-white my-0 mx-auto" style="width: 100%;">
                        {% endif %}

                    {% endfor %}
                {% endfor %}

            {% elif sort == 'vote_count' %}

                {% set updated_threads = [] %}

                {% for thread in normal_threads %}
                    {% set reply_count = thread.reply_list|length %}
                    {% set _ = updated_threads.append({'id': thread.id, 'vote_count': thread.votes.count() | int}) %}
                {% endfor %}

                {% set sorted_threads = updated_threads | sort(attribute='vote_count', reverse=(true if not order else false)) %}
                {% for sorted_thread in sorted_threads %}
                    {% for thread in normal_threads %}

                        {% if thread.id == sorted_thread.id %}
                            <!-- Thread -->
                            <div class="d-flex overflow-x-auto overflow-y-hidden gap-1 w-100" style="max-width: 100vw;" id="img-div-t{{ thread.id }}">
                                {% if thread.image %}
                                    <div class="d-flex flex-column justify-content-start" style="max-width: 235px; max-height: fit-content; min-width: 200px;">
                                        <img class="rounded-1 shadow img-fluid" src="{{ url_for('Images.Image', id=thread.image.id) }}" onclick="maxOrMin({{ thread.id }}, 't')">
                                        <div class="d-flex gap-1">
                                            <span style="font-size: 0.7rem; color: #696969;" class="m-0">File: </span>
                                            <a style="font-size: 0.7rem;" class="m-0 text-ellipsis" href="{{ url_for('Images.Image', id=thread.image.id) }}">{{ thread.image.name }}</a>
                                        </div>
                                        <span style="font-size: 0.7rem; color: #696969;" class="m-0 p-0">({{ (thread.image.size|int / 1024)|int }}KB {{ thread.image.measures }})</span>                    
                                    </div>
                                {% endif %}
                                <div class="d-flex flex-column gap-2 w-100">
                                    
                                    <div id="t{{ thread.id }}" class="chan-thread-info" style="min-width: 350px; width: fit-content;">
                                        <div class="d-flex gap-2">
                                            <a class="chan-thread-title ants-link text-ellipsis m-0 text-decoration-none fst-italic" href="{{ url_for('Admin.Thread' if api_key else 'Threads.Thread', id=thread.id, **({'api_key': api_key} if api_key else {})) }}" style="font-weight: 500;">{{ thread.title }}</a>
                                            <div class="d-flex flex-column justify-content-around">
                                                <span class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);"><span class="fw-bold">Anon:</span> {{ thread.user_token }}</span>
                                                <span class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">Thread No.{{ thread.id }}</span>      
                                            </div>
                                        </div>

                                        <p class="chan-text-content">{{ thread.content|safe }}</p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex gap-1">
                                                <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">
                                                    {{ '%02d' | format(thread.date.day) }}/{{ '%02d' | format(thread.date.month) }}/{{ thread.date.year }}
                                                </span>
                                                <hr class="m-0 h-100" style="width: 1px; border-left: solid 1px;">
                                                <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">{{ thread.time }}</span>
                                                <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">UTC</span>    
                                            </div>
                                            <div class="d-flex justify-content-center gap-1">
                                                <button onclick="submitVote(1, {{ thread.id }}, 't')"                                    title="{{ thread.votes|selectattr('up_or_down', 'equalto', 1)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                                    <i class="fa-solid fa-caret-up px-1" id="1t{{ thread.id }}" style="font-size: 0.9rem; padding-top: 0.15rem; background-color: rgba(0, 153, 255, 0.2); border-radius: 3px; height: fit-content;"></i>
                                                </button>
                                                <button onclick="submitVote(0, {{ thread.id }}, 't')" title="{{ thread.votes|selectattr('up_or_down', 'equalto', 0)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                                    <i class="fa-solid fa-caret-down px-1" id="0t{{ thread.id }}" style="font-size: 0.9rem; padding-bottom: 0.15rem; background-color: rgba(255, 78, 78, 0.2); border-radius: 3px; height: fit-content;"></i>
                                                </button>
                                                <button class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(0, 255, 89, 0.1); border-radius: 3px;" onclick="replyModal('t{{ thread.id }}')" type="button" data-bs-toggle="modal" data-bs-target="#newReply">
                                                    <i style="font-size: 0.7rem;" class="fa-solid fa-reply"></i>
                                                    <span style="font-size: 0.7rem;" class="m-0">Reply</span>   
                                                </button>
                                                {% if api_key %}
                                                    <button onclick="deletePost({{ thread.id }}, 't')" class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(243, 35, 35, 0.2); border-radius: 3px;" type="button">
                                                        <i style="font-size: 0.7rem;" class="fa-solid fa-eraser"></i>
                                                        <span style="font-size: 0.7rem;" class="m-0">Delete</span>   
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if thread.reply_list %}
                                        <hr class="border-white my-0 mx-3" style="border-style:  dotted; border-width: 1px 0 0 0;">
                                        <div class="d-flex flex-column gap-1" style="margin-left: 40px;">
                                            {{ render_replies(thread.reply_list, thread) }}     
                                        </div>      
                                    {% endif %}    
                                </div>    
                            </div>
                            <hr class="border-white my-0 mx-auto" style="width: 100%;">
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            {% elif sort == 'id' %}            

                {% set sorted_threads = normal_threads | sort(attribute='id', reverse=(true if not order else false)) %}
                {% for sorted_thread in sorted_threads %}
                    {% for thread in normal_threads %}

                        {% if thread.id == sorted_thread.id %}
                            <!-- Thread -->
                            <div class="d-flex overflow-x-auto overflow-y-hidden gap-1 w-100" style="max-width: 100vw;" id="img-div-t{{ thread.id }}">
                                {% if thread.image %}
                                    <div class="d-flex flex-column justify-content-start" style="max-width: 235px; max-height: fit-content; min-width: 200px;">
                                        <img class="rounded-1 shadow img-fluid" src="{{ url_for('Images.Image', id=thread.image.id) }}" onclick="maxOrMin({{ thread.id }}, 't')">
                                        <div class="d-flex gap-1">
                                            <span style="font-size: 0.7rem; color: #696969;" class="m-0">File: </span>
                                            <a style="font-size: 0.7rem;" class="m-0 text-ellipsis" href="{{ url_for('Images.Image', id=thread.image.id) }}">{{ thread.image.name }}</a>
                                        </div>
                                        <span style="font-size: 0.7rem; color: #696969;" class="m-0 p-0">({{ (thread.image.size|int / 1024)|int }}KB {{ thread.image.measures }})</span>                    
                                    </div>
                                {% endif %}
                                <div class="d-flex flex-column gap-2 w-100">
                                    
                                    <div id="t{{ thread.id }}" class="chan-thread-info" style="min-width: 350px; width: fit-content;">
                                        <div class="d-flex gap-2">
                                            <a class="chan-thread-title ants-link text-ellipsis m-0 text-decoration-none fst-italic" href="{{ url_for('Admin.Thread' if api_key else 'Threads.Thread', id=thread.id, **({'api_key': api_key} if api_key else {})) }}" style="font-weight: 500;">{{ thread.title }}</a>
                                            <div class="d-flex flex-column justify-content-around">
                                                <span class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);"><span class="fw-bold">Anon:</span> {{ thread.user_token }}</span>
                                                <span class="m-0 text-ellipsis" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">Thread No.{{ thread.id }}</span>      
                                            </div>
                                        </div>

                                        <p class="chan-text-content">{{ thread.content|safe }}</p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex gap-1">
                                                <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">
                                                    {{ '%02d' | format(thread.date.day) }}/{{ '%02d' | format(thread.date.month) }}/{{ thread.date.year }}
                                                </span>
                                                <hr class="m-0 h-100" style="width: 1px; border-left: solid 1px;">
                                                <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">{{ thread.time }}</span>
                                                <span class="m-0" style="font-size: 0.7rem; color: rgba(255, 255, 255, 0.700);">UTC</span>    
                                            </div>
                                            <div class="d-flex justify-content-center gap-1">
                                                <button onclick="submitVote(1, {{ thread.id }}, 't')"                                    title="{{ thread.votes|selectattr('up_or_down', 'equalto', 1)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                                    <i class="fa-solid fa-caret-up px-1" id="1t{{ thread.id }}" style="font-size: 0.9rem; padding-top: 0.15rem; background-color: rgba(0, 153, 255, 0.2); border-radius: 3px; height: fit-content;"></i>
                                                </button>
                                                <button onclick="submitVote(0, {{ thread.id }}, 't')" title="{{ thread.votes|selectattr('up_or_down', 'equalto', 0)|list|length }}" class="d-flex p-0 border-0 bg-transparent text-white" style="height: fit-content;">
                                                    <i class="fa-solid fa-caret-down px-1" id="0t{{ thread.id }}" style="font-size: 0.9rem; padding-bottom: 0.15rem; background-color: rgba(255, 78, 78, 0.2); border-radius: 3px; height: fit-content;"></i>
                                                </button>
                                                <button class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(0, 255, 89, 0.1); border-radius: 3px;" onclick="replyModal('t{{ thread.id }}')" type="button" data-bs-toggle="modal" data-bs-target="#newReply">
                                                    <i style="font-size: 0.7rem;" class="fa-solid fa-reply"></i>
                                                    <span style="font-size: 0.7rem;" class="m-0">Reply</span>   
                                                </button>
                                                {% if api_key %}
                                                    <button onclick="deletePost({{ thread.id }}, 't')" class="d-flex gap-1 align-items-center text-white p-0 border-0 px-1" style="background-color: rgba(243, 35, 35, 0.2); border-radius: 3px;" type="button">
                                                        <i style="font-size: 0.7rem;" class="fa-solid fa-eraser"></i>
                                                        <span style="font-size: 0.7rem;" class="m-0">Delete</span>   
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if thread.reply_list %}
                                        <hr class="border-white my-0 mx-3" style="border-style:  dotted; border-width: 1px 0 0 0;">
                                        <div class="d-flex flex-column gap-1" style="margin-left: 40px;">
                                            {{ render_replies(thread.reply_list, thread) }}     
                                        </div>      
                                    {% endif %}   
                                </div>    
                            </div>
                            <hr class="border-white my-0 mx-auto" style="width: 100%;">
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            {% else %}
                <span class="text-bg-danger m-auto">INVALID SORTING OPTION!</span>
            {% endif %}
        </section>

    </main>
    {% if board.threads.count() %}
        <nav class="d-flex">
            <ul class="d-flex align-items-center p-0" style="height: 1.75rem; gap: 2px;">
                <!-- Previous Button -->
                <li class="list-unstyled h-100 d-flex align-items-center" 
                    style="color: rgb(0, 255, 170); background: rgba(0, 0, 0, 0.5);" >
                    <a class="page-link px-2 {% if normal_threads.page <= 1 %}text-white-50 disabled{% endif %}" 
                    href="{{ url_for('Admin.Board' if api_key else 'Boards.Board', id=board.id, page=normal_threads.page - 1, **({'api_key': api_key} if api_key else {})) }}" 
                    aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
        
                <!-- Page Numbers -->
                {% set total_pages = normal_threads.pages %}
                {% for i in range(1, total_pages + 1) %}
                    <li class="list-unstyled d-flex align-items-center px-1 h-100" 
                        style="color: rgb(0, 255, 170); background: rgba(0, 0, 0, 0.5);">
                        {% if page == i %}
                            [<a class="px-1 text-decoration-none" 
                            href="{{ url_for('Admin.Board' if api_key else 'Boards.Board', id=board.id, page=i, **({'api_key': api_key} if api_key else {})) }}">{{ i }}</a>]
                        {% else %}
                            <a class="px-1 text-decoration-none" 
                            href="{{ url_for('Admin.Board' if api_key else 'Boards.Board', id=board.id, page=i, **({'api_key': api_key} if api_key else {})) }}">{{ i }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
        
                <!-- Next Button -->
                <li class="list-unstyled h-100 d-flex align-items-center" 
                    style="color: rgb(0, 255, 170); background: rgba(0, 0, 0, 0.5);">
                    <a class="page-link px-2 {% if normal_threads.page >= total_pages %}text-white-50 disabled{% endif %}" 
                    href="{{ url_for('Admin.Board' if api_key else 'Boards.Board', id=board.id, page=normal_threads.page + 1, **({'api_key': api_key} if api_key else {})) }}" 
                    aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    
    <ul class="d-flex gap-2 justify-content-center w-100 list-unstyled m-0" style="height: fit-content; width: max-content; padding-bottom: 1rem;">
        {% for board_group in board_groups %}
            {% if board_group.boards.count() > 0 %}
                <div class="d-flex align-items-center align-content-center justify-content-center">
                    <span class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-right: 0.2rem !important; line-height: normal;">[</span>
                    <ul class="d-flex gap-2 p-0 m-0" style="height: fit-content;">
                        {% for board in board_group.boards %}
                        <a href="{{ url_for('Admin.Board' if api_key else 'Boards.Board', id=board.id, **({'api_key': api_key} if api_key else {})) }}" title="{{ board.name }}" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; line-height: normal;">/{{ board.id }}</a>
                        {% endfor %}
                    </ul>
                    <span class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-left: 0.2rem !important; line-height: normal;">]</span>    
                </div>
            {% endif %}
        {% endfor %}
        <div class="d-flex align-items-center align-content-center justify-content-center">
            <span class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-right: 0.2rem !important; line-height: normal;">[</span>
            <a href="{{ url_for('Admin.home' if api_key else 'Index.home', **({'api_key': api_key} if api_key else {})) }}" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; line-height: normal;" class="text-decoration-none">Home</a>
            <span class="m-0 text-white-50" style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-left: 0.2rem !important; line-height: normal;">]</span>
        </div>
    </ul>
    

    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/board-thread.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const themeLink = document.getElementById("theme-style");
    
            // Apply saved style across all pages
            const savedStyle = localStorage.getItem("selectedStyle") || "board-thread";
    
            // Set the href dynamically using the rendered url_for value
            themeLink.href = "{{ url_for('static', filename='css/') }}" + savedStyle + ".css";
    
            // Check if the select dropdown exists
            const select = document.getElementById("style_id");
            if (select) {
                // Set dropdown to match saved style
                select.value = savedStyle;
    
                // Change theme and save selection
                select.addEventListener("change", function () {
                    const newStyle = select.value;
                    localStorage.setItem("selectedStyle", newStyle);
                    themeLink.href = "{{ url_for('static', filename='css/') }}" + newStyle + ".css";
                });
            }
        });
    </script>
    
    {% if api_key %}
        <script>
            async function deletePost(id, post_type){
                
                const currentUrl = window.location.href;
                const url = new URL(currentUrl);
                const params = new URLSearchParams(url.search);
                const apiKey = params.get('api_key')

                const response = await fetch(`/${post_type == 't' ? 'thread' : 'reply'}/${id}?api_key=${apiKey}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });

                if (!response.ok) {
                    throw new Error(`Server error: ${response.status}`);
                }

                const responseData = await response.json();

                location.reload()
                
            }
        </script>
    {% endif %}
</body>
</html>